__pycache__/
*.py[cod]
.venv/
.env
.env.*
wandb/
wandb_audit_private.json
**/caches/
**/cache/
**/checkpoints/
**/results/
**/outputs/
*.pt
*.pth
*.ckpt
*.log
.ipynb_checkpoints/
/experiments/
/experiments_b32/
/configs/birds.yaml
/configs/dogs.yaml
/datasets/birds.py
/datasets/dogs.py
/datasets/utils_old.py
